<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon catcher</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">    
</head>
<body>
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="container main text-center">
            <h1 class="main_text">CATCH YOU POKEMON</h1>
            <div class="row">
                <div class="col-12 text_2">Push the button to fund out your pokemon</div>
                <div class="col-12"><a href="/pokemon" class="btn pokemon_btn">catch</a></div>
            </div>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>